# --- General ---
DOMAIN=typerun.io

# --- Database ---
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=changeme
POSTGRES_DB=transcendence_db
DATABASE_URL=postgresql://transcendence:changeme@postgresql:5432/transcendence_db

# --- Backend ---
JWT_SECRET=change_this_to_a_long_random_secret
JWT_SECRET_EXP=24h

# --- Cloudinary (Avatar)---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --- OAuth 42 ---
FORTYTWO_CLIENT_ID=your_42_app_client_id
FORTYTWO_CLIENT_SECRET=your_42_app_client_secret

# --- OAuth 42 DEV ---
FORTYTWO_CLIENT_ID_DEV=your_42_app_client_id_for_dev
FORTYTWO_CLIENT_SECRET_DEV=your_42_app_client_secret_for_dev

# --- Cloudflare Tunnel ---
CLOUDFLARE_DOMAIN=your_website_domain
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token

# --- OAuth 42 Cloudflare ---
FORTYTWO_CLIENT_ID_CLOUDFLARE=your_42_app_client_id_for_cloudflare
FORTYTWO_CLIENT_SECRET_CLOUDFLARE=your_42_app_client_secret_for_cloudflare